@use 'var' as *;

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  height: 40px;
  padding: 12px 21px;
  border: 1px solid $border;
  border-radius: 37px;
  background-color: #fff;
  margin: 21px 0;

  &__home {
    width: 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }

  &__arrow {
    size: 16px;
    line-height: 1;
    user-select: none;
  }

  &__current {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    white-space: nowrap;
  }
}