.footer {
  width: 100%;
  background: linear-gradient(245.77deg, #0e0e0e 2.24%, #1c1d1d 67.82%, #0e0e0e 100%);
  padding-bottom: 48px;
  margin-top: 120px;

  &__banner {
    width: 1320px;
    height: 80px;
    margin: 0 auto;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    background-color: #1e558e;
    overflow: hidden;
    position: relative;
  }

  &__banner-content {
    position: absolute;
    top: 23px;
    left: -124px;
    display: flex;
    gap: 13.22px;
  }

  &__banner-item {
    display: flex;
    align-items: center;
    gap: 13.22px;
    width: 366.22px;
    height: 34px;

    span {
      font-family: 'Unbounded', sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 147%;
      text-transform: uppercase;
      color: #fff;
    }

    .footer__banner-icon {
      width: 34px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 17px;
        height: 17px;
      }
    }
  }

  &__content {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 137px;
    line-height: 147%;
    letter-spacing: -0.11em;
    text-transform: uppercase;
    background: linear-gradient(136.46deg, #797979 24.38%, #ffffff 79.42%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    white-space: nowrap; 
  }

  &__line {
    margin-top: 48px;
    width: 100%;
    height: 1px;
    background-color: #222222;
  }
}






.footer-info {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 60px;

    .footer-info__item {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #FFFFFF;

      &.office {
        font-weight: 700;
      }

      &.address {
        color: #A7ACC2;
        opacity: 0.5;
      }
    }
  }

  &__right {
    display: flex;
    gap: 6px;
    margin-right: 60px;

    .social-button {
      width: 97px;
      height: 51px;
      border: 1px solid #222222;
      border-radius: 74px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      overflow: hidden;

      img {
        max-width: 60%;
        max-height: 60%;
      }
    }
  }
}





.footer-info__bottom-line {
  width: 100%;
  height: 1px;
  background-color: #222222;
  margin-top: 39px;
}






.footer-menu {
  margin: 15px 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .footer-left {
    display: flex;
    flex-direction: column;
    gap: 75px;
  }

  .footer-heading {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #A7ACC2;
    opacity: 0.5;
  }

  .footer-links {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;

    a {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #FFFFFF;
      text-decoration: none;
    }
  }

  .product-links {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;

    .product-item {
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        font-family: 'Manrope', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
      }

      img {
        width: 10px; 
        height: 10px;
      }
    }
  }

  .footer-right {
    .qr-container {
      width: 398px;
      height: 346px;
      border-radius: 18px;
      background: #121518;
      padding: 29px 0px;

      .qr-image {
        width: 202px;
        height: 202px;
        border-radius: 17px;
        border: 1px;
        margin-left: 98px;
      }

      .store-buttons {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px; 
        padding: 0; 
        width: 100%;

        .store-button {
          width: 182px;
          height: 45px;
          border-radius: 39px;
          background: #262B3A;
          display: flex;
          align-items: center;
          padding: 0 10px;
          position: relative;

          img {
            width: 30px;
            height: 30px;
          }

          .store-text {
            margin-left: 10px;
            display: flex;
            flex-direction: column;

            .small-text {
              font-family: 'Poppins', sans-serif;
              font-weight: 400;
              font-size: 8px;
              color: #8A8484;
              line-height: 179%;
            }

            .big-text {
              font-family: 'Poppins', sans-serif;
              font-weight: 600;
              font-size: 12px;
              color: #FFFFFF;
              line-height: 179%;
            }
          }

          .arrow-btn {
            position: absolute;
            right: 0;
            width: 23px;
            height: 100%;
            background: #29344C;
            border-top-right-radius: 39px;
            border-bottom-right-radius: 39px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 9px;
              height: 9px;
            }
          }
        }
      }
    }
  }
}




.footer__bottom-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 41px;
  padding: 0 51px;

  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  color: #ffffff;

  a, span {
    display: block;
    height: 10px;
    line-height: 10px;
    text-decoration: none;
    color: #ffffff;
  }

  .footer__link--left {
    width: 93px;
    opacity: 0.4;
  }

  .footer__link--center {
    width: 147px;
    opacity: 1;
    text-decoration: none;
  }

  .footer__link--right {
    width: 116px;
    opacity: 0.4;
    text-transform: capitalize;
    user-select: none;
    white-space: nowrap; 
    margin-right: 40px;
  }
}




