.home-light {
  background-color: #101316;
  width: 100%;
  height: 753px;
  overflow: hidden;

  .container {
    max-width: 1400px;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
  }

  .intro {
    grid-column: span 5;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    &__top {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &__title {
      font-family: 'Unbounded', sans-serif;
      font-weight: 600;
      font-size: 110.53px;
      line-height: 138%;
      color: #ffffff;
      margin: 0;
      width: auto;
    }

    &__logo-leaf {
      display: flex;
      gap: 20px;
    }

    &__logo {
      width: 110.53px;
      height: 110.53px;
    }

    &__leaf {
      width: 94px;
      height: 94px;
      border-radius: 72px;
      border: 0.77px solid #12C3447D;
    }

    &__text {
      font-family: 'Unbounded', sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 138%;
      color: #ffffff;
      max-width: 742px;
    }

    &__phone {
      position: absolute;
      top: 70px;
      right: 0;
      width: 1202px;
      height: 738px;
      z-index: 0;
    }
  }

  .stats {
    grid-column: span 6;
    display: flex;
    gap: 63px;
    margin-top: 20px;
    z-index: 1;

    .stat {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__label {
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        font-size: 16px;
        opacity: 0.6;
        color: #ffffff;
        line-height: 100%;
      }

      &__value {
        font-family: 'Unbounded', sans-serif;
        font-weight: 600;
        font-size: 26px;
        line-height: 147%;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }

  .slider-dots {
    grid-column: span 8;
    display: flex;
    gap: 4px;
    margin-top: 20px;
    z-index: 1;

    .dot {
      width: 8px;
      height: 8px;
      border-radius: 42px;
      background-color: #ffffff;
      opacity: 0.4;

      &--active {
        width: 20px;
        opacity: 1;
      }
    }
  }
}




.partners {
  position: relative;
  width: 100%;
  max-width: 1402px;
  height: 103px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  overflow: hidden;

  .partner-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;

    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }







  .partners-second {
    position: relative;
    width: 1403px;
    height: 103px;
    margin: 0px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  
    &__logos {
      display: flex;
      gap: 24px;
      flex: 1;
      justify-content: center;
    }
  
    .partner-logo {
      width: 205px;
      height: 103px;
      border-radius: 11.62px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
  
      img {
        max-width: 90%;
        max-height: 60%;
        object-fit: contain;
      }
    }
  
    &__gradient {
      width: 117.74px;
      height: 271.8px;
      position: relative;
      opacity: 0.8;
  
      img {
        transform: rotate(-90deg);
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
  
      &--left {
        margin-left: -104px;
      }
  
      &--right {
        margin-right: -104px;
      }
    }
  }
  








  .cards {
    display: flex;
    gap: 32px;
    margin-top: 100px;
    justify-content: center;
  }
  
  .card {
    position: relative;
    width: 632px;
    height: 559px;
    border-radius: 18px;
    background: linear-gradient(268.52deg, #E9EEF5 0.49%, #E9F8F9 99.07%);
    overflow: hidden;
  
    &__title {
      position: absolute;
      top: 65px;
      left: 32px;
      font-family: 'Unbounded', sans-serif;
      font-weight: 600;
      font-size: 36px;
      line-height: 138%;
      color: #252834;
      width: 305px;
      height: 150px;
    }


    
  
    &__image-wrapper {
      position: absolute;
      top: 142px;
      left: 49px;
  
      img {
        width: 626px;
        height: 417px;
        object-fit: cover;
      }
    }
  
    &__content {
      position: absolute;
      bottom: 13px;
      left: 13px;
      width: 606px;
      height: 219px;
      border-radius: 18px;
      background: #fff;
      padding: 36px 34px 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  
    &__text {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #252834;
      text-align: center;
      width: 100%;
    }
  
    &__button {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 24px;
  
      .card__circle-btn {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        border: 1px solid #d3dce0;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      .card__btn-text {
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #252834;
      }
    }
  }
  


  .card.second-card {
    .card__image-wrapper {
      top: 94px;
      left: 140px;
  
      img {
        width: 490px;
        height: 465px;
      }
    }
  }




  .card__badge {
    position: absolute;
    top: 235px;
    left: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px 10px 10px;
    border-radius: 45px;
    border: 1px solid;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.32), rgba(255, 255, 255, 0));
    background: rgba(255, 255, 255, 0.31);
    backdrop-filter: blur(4px);
  
    span {
      font-family: 'Manrope', sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
      color: #252834e0;
    }
  
    img {
      width: 20px;
      height: 20px;
    }
  }
  







  .shop {
    margin-top: 100px;
    text-align: center;
  
    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 14px;
    }
  
    &__label {
      background: linear-gradient(0deg, #252834, #252834),
                  linear-gradient(268.52deg, #E9EEF5 0.49%, #E9F8F9 99.07%);
      color: #000000;
      font-family: 'Manrope';
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 25%;
      text-transform: uppercase;
      border-radius: 35px;
      padding: 11px 18px;
    }
  
    &__title {
      width: 632px;
      font-family: 'Unbounded';
      font-weight: 500;
      font-size: 36px;
      line-height: 138%;
      color: #252834;
    }
  
    &__filters {
      display: flex;
      justify-content: center;
      gap: 5px;
      margin-top: 32px;
    }
  
    .filter {
      border-radius: 72px;
      padding: 18px 21px;
      font-family: 'Gilroy';
      font-weight: 500;
      font-size: 16px;
      line-height: 147%;
      border: none;
      cursor: pointer;
      background: transparent;
      color: #62646A;
  
      &.active {
        background: #252834;
        color: #ffffff;
      }
    }
  
    &__products {
      display: flex;
      justify-content: center;
      gap: 16px;
      margin-top: 40px;
      flex-wrap: wrap;
    }
  
    .product-card {
      width: 308px;
      height: 695px;
      display: flex;
      flex-direction: column;
      gap: 13px;
  
      &__image img {
        width: 300px;
        height: 307px;
        object-fit: contain;
        mix-blend-mode: darken;
      }
  
      &__name {
        font-family: 'Manrope';
        font-weight: 500;
        font-size: 18px;
        color: #252834;
      }
  
      &__price {
        font-family: 'Manrope';
        font-weight: 500;
        font-size: 24px;
        background: #252834;
        color: #fff;
        padding: 4px 0;
      }
  
      &__specs {
        display: flex;
        flex-direction: column;
        gap: 6px;
  
        .spec-row {
          display: flex;
          align-items: center;
          span {
            font-family: 'Manrope';
            font-size: 16px;
          }
          .value {
            font-weight: 500;
            color: #252834;
          }
          .line {
            flex-grow: 1;
            height: 1px;
            margin: 0 8px;
            background: #d3dce0;
          }
        }
      }
  
      &__ports {
        .ports-title {
          color: #62646A;
          font-family: 'Manrope';
          font-size: 16px;
          margin-top: 12px;
        }
  
        .ports-list {
          display: flex;
          flex-wrap: wrap;
          gap: 4px;
          margin-top: 8px;
  
          .port {
            border: 1px solid #D3DCE0;
            padding: 10px;
            border-radius: 39px;
            font-size: 14px;
          }
        }
      }
    }
  
    &__cta {
      margin-top: 48px;
      display: flex;
      justify-content: center;
    }
  
    &__button {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 21px 6px 21px 21px;
      background: #1E558E;
      border: none;
      border-radius: 104px;
      color: #fff;
      font-family: 'Manrope';
      font-size: 16px;
      cursor: pointer;
  
      &-circle {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
  
        img {
          transform: rotate(-90deg);
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  







  $main-color: #252834;
$secondary-color: #62646A;
$accent-color: #1E558E;
$white: #FFFFFF;
$gray-border: #D3DCE0;

.catalog {
  padding: 100px 60px;
  text-align: center;

  &__intro {
    width: 632px;
    margin: 0 auto 40px;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__badge {
    width: 409px;
    height: 41px;
    border-radius: 35px;
    padding: 11px 18px;
    margin: 0 auto;
    background: linear-gradient(0deg, #E9EEF5, #E9F8F9),
    linear-gradient(268.52deg, #E9EEF5 0.49%, #E9F8F9 99.07%);
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.25em;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }

  &__title {
    font-family: Unbounded;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.38;
    color: $main-color;
  }

  &__filters {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 40px 0;
  }

  &__filter {
    border-radius: 34px;
    padding: 18px 21px;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.47;
    text-transform: capitalize;
    color: $secondary-color;
    background: transparent;
    border: none;
    cursor: pointer;

    &--active {
      background: $main-color;
      color: $white;
    }
  }

  &__cards {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
  }

  &__card {
    width: 308px;
    height: 695px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    position: relative;
    text-align: left;

    .card__label {
      position: absolute;
      top: 14px;
      right: 14px;
      height: 39px;
      padding: 0 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border-radius: 8px;
      font-family: Manrope;
      font-weight: 600;
      font-size: 14px;
      line-height: 1;
      text-align: center;

      &--discount {
        background-color: $main-color;
        color: $white;
        width: 69px;
      }

      &--hit {
        background-color: $white;
        color: $main-color;
        width: 84px;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }

    .card__image {
    width: 300px;
    height: 307px;
    object-fit: contain;
    mix-blend-mode: darken;
  }

  .card__title {
    width: 273px;
    margin-top: 260px; // чтобы отступ от картинки был
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    color: #252834; // основной цвет
  }

  .card__price {
    
    width: 270px;
    font-family: Manrope;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    color: #252834;  // цвет цены без фона
    background: none;  // убираем фон
  }

    .card__features {
      width: 273px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      font-family: Manrope;
      font-size: 16px;

      li {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dashed $gray-border;
        padding: 4px 0;

        span:first-child {
          font-weight: 400;
        }

        span:last-child {
          font-weight: 500;
          color: $main-color;
        }
      }
    }

    .card__ports {
      width: 273px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      p {
        font-family: Manrope;
        font-weight: 400;
        font-size: 16px;
        color: $secondary-color;
      }

      .ports {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;

        span {
          padding: 10px;
          border: 1px solid $gray-border;
          border-radius: 39px;
          font-family: Manrope;
          font-size: 14px;
        }
      }
    }
  }

  &__cta {
    margin: 60px auto 0;
    width: 248px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px 0 21px;
    border-radius: 104px;
    background: $accent-color;
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    color: $white;
    cursor: pointer;

    &-circle {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background: $white;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        transform: rotate(-90deg);
        width: 18px;
        height: 18px;
      }
    }
  }
}




.card__image-bg {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    padding: 4px; // можно убрать или оставить
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #E9EEF5, #E9F8F9),
                linear-gradient(268.52deg, #E9EEF5 0.49%, #E9F8F9 99.07%);
  }




  .about-badge {
    width: 129px;
    height: 41px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(268.52deg, #E9EEF5 0.49%, #E9F8F9 99.07%);
    
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    margin: 0 auto; // по центру
  }






  .about {
    padding: 80px 60px;
    text-align: center;
  
    &__badge {
      width: 129px;
      height: 41px;
      border-radius: 35px;
      margin: 0 auto 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(268.52deg, #E9EEF5 0.49%, #E9F8F9 99.07%);
      font-family: Manrope;
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      color: #000;
    }
  
    &__titles {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 60px;
    }
  
    &__title {
      font-family: Unbounded;
      font-weight: 300;
      font-size: 68px;
      line-height: 1.47;
      text-transform: uppercase;
      color: #252834;
  
      &--accent {
        font-weight: 700;
        color: #1E558E;
      }
    }
  
    &__content {
      display: flex;
      justify-content: center;
      gap: 80px;
      flex-wrap: wrap;
      margin-top: 60px;
    }
  
    &__mission {
      max-width: 313px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
    }
  
    &__text {
      font-family: Manrope;
      font-weight: 500;
      font-size: 16px;
      line-height: 1;
      color: #252834;
    }
  
    &__button {
      width: 251px;
      height: 54px;
      padding: 0 6px 0 21px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 104px;
      background: #1E558E;
      color: #fff;
      font-family: Manrope;
      font-weight: 500;
      font-size: 16px;
      cursor: pointer;
  
      &-circle {
        width: 46px;
        height: 46px;
        background: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
  
        img {
          width: 8px;
          height: 8px;
          transform: rotate(-90deg);
        }
      }
    }
  
    &__benefits {
      max-width: 420px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
    }
  
    &__benefit {
      display: flex;
      gap: 16px;
      align-items: flex-start;
  
      p {
        font-family: Manrope;
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
        color: #252834;
      }
    }
  
    &__icon {
      width: 36px;
      height: 26px;
      border-radius: 50%;
      background: 
                  linear-gradient(268.52deg, #E9EEF5 0.49%, #E9F8F9 99.07%);
      display: flex;
      align-items: center;
      justify-content: center;
  
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
  



  .software {
    width: 1280px;
   
    margin: 0 auto;
    border-radius: 18px;
   
    text-align: center;
    position: relative;
  
    &__wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      background: #000;
      border-radius: 18px;
      padding: 60px;
      box-sizing: border-box;
      
    }
  
    &__content {
      max-width: 1010px;
      display: flex;
      flex-direction: column;
      gap: 32px;
      text-align: left;
      z-index: 2;
    }
  
    &__badge {
      width: 218px;
      height: 41px;
      border-radius: 35px;
      background: #313131;
      color: #fff;
      font-family: Manrope;
      font-weight: 500;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
    }
  
    &__title {
      font-family: Unbounded;
      font-weight: 500;
      font-size: 36px;
      line-height: 1.38;
      color: #fff;
    }
  
    &__text {
      max-width: 619px;
      font-family: Manrope;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.4;
      color: #95969F;
    }
  
    &__columns {
      display: flex;
  flex-direction: column;
  gap: 40px;
    }
  
    &__column {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  
    &__benefit {
      display: flex;
      gap: 16px;
      align-items: flex-start;
      color: #fff;
    }
  
    &__icon {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: linear-gradient(0deg, #D9D9D9, #D9D9D9),
                  linear-gradient(268.52deg, #E9EEF5 0.49%, #E9F8F9 99.07%);
      display: flex;
      align-items: center;
      justify-content: center;
  
      img {
        width: 24px;
        height: 24px;
      }
    }
  
    &__button {
      width: 251px;
      height: 54px;
      padding: 0 6px 0 21px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 104px;
      font-family: Manrope;
      font-weight: 500;
      font-size: 16px;
      cursor: pointer;
  
      &--light {
        background: #fff;
        color: #1E558E;
      }
  
      &-circle {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
  
        &--blue {
          background: #1E558E;
        }
  
        img {
          width: 18px;
          height: 18px;
          transform: rotate(-90deg);
        }
      }
    }
  
    &__image {
      position: absolute;
      right: 0;
      z-index: 2;
      
  
      img {
       
        width: 800px;
        height: auto;
        z-index: 2;
      }
    }
  
    &__glow {
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%);
      width: 912px;
      height: 522px;
      opacity: 0.56;
      background: linear-gradient(180deg, #35F8CC 0%, #1E558E 100%);
      filter: blur(390px);
      z-index: 1;
      pointer-events: none;
    }
  }