.home-light {
  background-color: #101316;
  width: 100%;
  height: 753px;
  overflow: hidden;

  .container {
    max-width: 1400px;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
  }

  .intro {
    grid-column: span 5;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    &__top {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &__title {
      font-family: 'Unbounded', sans-serif;
      font-weight: 600;
      font-size: 110.53px;
      line-height: 138%;
      color: #ffffff;
      margin: 0;
      width: auto;
    }

    &__logo-leaf {
      display: flex;
      gap: 20px;
    }

    &__logo {
      width: 110.53px;
      height: 110.53px;
    }

    &__leaf {
      width: 94px;
      height: 94px;
      border-radius: 72px;
      border: 0.77px solid #12C3447D;
    }

    &__text {
      font-family: 'Unbounded', sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 138%;
      color: #ffffff;
      max-width: 742px;
    }

    &__phone {
      position: absolute;
      top: 70px;
      right: 0;
      width: 1202px;
      height: 738px;
      z-index: 0;
    }
  }

  .stats {
    grid-column: span 6;
    display: flex;
    gap: 63px;
    margin-top: 20px;
    z-index: 1;

    .stat {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__label {
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        font-size: 16px;
        opacity: 0.6;
        color: #ffffff;
        line-height: 100%;
      }

      &__value {
        font-family: 'Unbounded', sans-serif;
        font-weight: 600;
        font-size: 26px;
        line-height: 147%;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }

  .slider-dots {
    grid-column: span 8;
    display: flex;
    gap: 4px;
    margin-top: 20px;
    z-index: 1;

    .dot {
      width: 8px;
      height: 8px;
      border-radius: 42px;
      background-color: #ffffff;
      opacity: 0.4;

      &--active {
        width: 20px;
        opacity: 1;
      }
    }
  }
}




.partners {
  position: relative;
  width: 100%;
  max-width: 1402px;
  height: 103px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  overflow: hidden;

  .partner-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;

    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }







  .partners-second {
    position: relative;
    width: 1403px;
    height: 103px;
    margin: 0px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  
    &__logos {
      display: flex;
      gap: 24px;
      flex: 1;
      justify-content: center;
    }
  
    .partner-logo {
      width: 205px;
      height: 103px;
      border-radius: 11.62px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
  
      img {
        max-width: 90%;
        max-height: 60%;
        object-fit: contain;
      }
    }
  
    &__gradient {
      width: 117.74px;
      height: 271.8px;
      position: relative;
      opacity: 0.8;
  
      img {
        transform: rotate(-90deg);
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
  
      &--left {
        margin-left: -104px;
      }
  
      &--right {
        margin-right: -104px;
      }
    }
  }
  








  .cards {
    display: flex;
    gap: 32px;
    margin-top: 100px;
    justify-content: center;
  }
  
  .card {
    position: relative;
    width: 632px;
    height: 559px;
    border-radius: 18px;
    background: linear-gradient(268.52deg, #E9EEF5 0.49%, #E9F8F9 99.07%);
    overflow: hidden;
  
    &__title {
      position: absolute;
      top: 65px;
      left: 32px;
      font-family: 'Unbounded', sans-serif;
      font-weight: 600;
      font-size: 36px;
      line-height: 138%;
      color: #252834;
      width: 305px;
      height: 150px;
    }


    
  
    &__image-wrapper {
      position: absolute;
      top: 142px;
      left: 49px;
  
      img {
        width: 626px;
        height: 417px;
        object-fit: cover;
      }
    }
  
    &__content {
      position: absolute;
      bottom: 13px;
      left: 13px;
      width: 606px;
      height: 219px;
      border-radius: 18px;
      background: #fff;
      padding: 36px 34px 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  
    &__text {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #252834;
      text-align: center;
      width: 100%;
    }
  
    &__button {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 24px;
  
      .card__circle-btn {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        border: 1px solid #d3dce0;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      .card__btn-text {
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #252834;
      }
    }
  }
  


  .card.second-card {
    .card__image-wrapper {
      top: 94px;
      left: 140px;
  
      img {
        width: 490px;
        height: 465px;
      }
    }
  }




  .card__badge {
    position: absolute;
    top: 235px;
    left: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px 10px 10px;
    border-radius: 45px;
    border: 1px solid;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.32), rgba(255, 255, 255, 0));
    background: rgba(255, 255, 255, 0.31);
    backdrop-filter: blur(4px);
  
    span {
      font-family: 'Manrope', sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
      color: #252834e0;
    }
  
    img {
      width: 20px;
      height: 20px;
    }
  }
  