@use 'var' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  background: #fff;
}

.container {
  max-width: 1440px; // можно менять под ширину макета
  padding: 0 60px;
  margin: 0 auto;
  
}
