@use 'var' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  border-bottom: 1px solid #D3DCE0;

  &__logo {
    cursor: pointer;
  }

  &__nav {
    flex: 1;
    margin-left: 50px;
  }

  &__links {
    list-style: none;
    display: flex;
    gap: 20px;

    &-item a {
      font-weight: 500;
      font-size: 16px;
      color: black;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: #777;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  &__icon-button {
    width: 53px;
    height: 53px;
    border-radius: 52px;
    border: 1px solid #D3DCE0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;

    img {
      width: 18px;
      height: 18px;
    }
  }

  &__button {
    padding: 9px 25px;
    border: 1px solid #000;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    color: black;
    transition: all 0.3s ease;

    &:hover {
      background-color: #000;
      color: #fff;
    }

    &--primary {
      background-color: #000;
      color: #fff;

      &:hover {
        background-color: #333;
      }
    }
  }
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 10px;

  width: max-content;
  height: 40px;

  padding: 12px 21px;
  border: 1px solid #D3DCE0;
  border-radius: 37px;

  background-color: #fff;

  
  margin: 21px 0 0 250px;  /*MARGINS*/

  &__home {
    width: 16px;       

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block; 
    }
  }

  &__arrow {
    size: 16px;
    line-height: 1;
    user-select: none;
  }

  &__current {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    white-space: nowrap; 
  }
}