@use 'var' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  background: #fff;
}

.container {
  max-width: 1440px; // можно менять под ширину макета
  padding: 0 60px;
  margin: 0 auto;
  
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #D3DCE0;

  &__logo { cursor: pointer; }

  &__nav { flex: 1; margin-left: 50px; }

  &__links {
    list-style: none;
    display: flex;
    gap: 20px;

    &-item a {
      font-weight: 500;
      font-size: 16px;
      color: black;
      text-decoration: none;
      transition: color 0.3s;

      &:hover { color: #777; }
    }
  }

  &__buttons {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  &__icon-button {
    width: 53px;
    height: 53px;
    border-radius: 52px;
    border: 1px solid #D3DCE0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;

    img {
      width: 18px;
      height: 18px;
    }
  }

  &__button {
    padding: 9px 25px;
    border: 1px solid #000;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    color: black;
    transition: all 0.3s ease;

    &:hover {
      background-color: #000;
      color: #fff;
    }

    &--primary {
      background-color: #000;
      color: #fff;

      &:hover { background-color: #333; }
    }
  }
}

/* BREADCRUMB */
.breadcrumb {
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  height: 40px;
  padding: 12px 21px;
  border: 1px solid #D3DCE0;
  border-radius: 37px;
  background-color: #fff;
  margin: 21px 0;

  &__home {
    width: 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }

  &__arrow {
    size: 16px;
    line-height: 1;
    user-select: none;
  }

  &__current {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    white-space: nowrap;
  }
}

/* BLOG TITLE */
.blog-title {
  margin: 21px 0;
  width: 828px;
  font-family: 'Unbounded', sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #252834;
}

/* BLOG PREVIEW */
.blog-preview {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 20px;
  margin: 60px 0;

  &__image {
    grid-column: 1 / span 5;
    width: 100%;
    max-width: 784px;
    height: 384px;
    border-radius: 12px;
    object-fit: cover;
  }

  &__content {
    grid-column: 6 / span 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 375px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__category {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 147%;
    text-transform: uppercase;
  }

  &__time {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
      width: 16px;
      height: 16px;
    }

    span {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
    }
  }

  &__title {
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #252834;
    line-height: 1.3;
  }

  &__description {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #62646A;
    line-height: 1.3;
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 12px;

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-name {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #000;
    }

    &-role {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 147%;
      color: #62646A;
    }
  }

  &__avatar {
    width: 42px;
    height: 42px;
    border-radius: 100px;
    border: 1px solid #D3DCE0;
  }

}

.blog-small {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 144px;

  &__card {
    display: flex;
    gap: 20px;
    height: 221px;
    flex: 0 0 calc((100% - 20px) / 2); 
  }

  &__image {
    width: 221px;
    height: 221px;
    border-radius: 12px;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 387px;
    height: 220px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__category {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 147%;
    text-transform: uppercase;
  }

  &__time {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
      width: 16px;
      height: 16px;
    }

    span {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
    }
  }

  &__title {
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #252834;
    line-height: 1.3;
  }

  &__description {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #62646A;
    line-height: 1.3;
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 12px;

    &-info {
      display: flex;
      flex-direction: column;
    }

    &-name {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #000;
      line-height: 147%;
    }

    &-role {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 147%;
      color: #62646A;
    }
  }

  &__avatar {
    width: 42px;
    height: 42px;
    border-radius: 100px;
    border: 1px solid #D3DCE0;
  }
}



.blog-triple {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px; // можно регулировать, например, 30px чтобы получить макетные расстояния
  margin: 28px 0;
 
  &__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 561px;
  }

  &__image {
    width: 100%;
    height: 240px;
    border-radius: 14px;
    object-fit: cover;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  &__category {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 147%;
    text-transform: uppercase;
  }

  &__time {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
      width: 16px;
      height: 16px;
    }

    span {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
    }
  }

  &__title {
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #252834;
    line-height: 100%;
    margin-top: 20px;
  }

  &__description {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #62646A;
    line-height: 1.3;
    margin-top: 20px;
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 85px;

    &-info {
      display: flex;
      flex-direction: column;
    }

    &-name {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 147%;
      color: #000;
    }

    &-role {
      font-family: 'Manrope', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 147%;
      color: #62646A;
    }
  }

  &__avatar {
    width: 42px;
    height: 42px;
    border-radius: 100px;
    border: 1px solid #D3DCE0;
  }

  &__line {
    margin-top: 20px;
    border-bottom: 1px solid #D3DCE0;
    width: 100%;
  }
}


.subscribe {
  max-width: 1279px;
  width: 100%;
  margin: 67px auto 0 auto;
  height: 155px;
  border-radius: 18px;
  padding: 32px 22px;
  background: linear-gradient(268.52deg, #e9eef5 0.49%, #e9f8f9 99.07%);
  display: flex;
  flex-direction: column;
  gap: 23px;

  &__title {
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    color: #252834;

    .highlight {
      color: #1e558e;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__input {
    width: 1039px;
    height: 54px;
    border-radius: 13px;
    border: 1px solid #d3dce0;
    background: #fff;
    padding: 0 16px;
    font-size: 16px;
    outline: none;

    &::placeholder {
      color: #888;
    }
  }

  &__btn {
    width: 180px;
    height: 54px;
    border-radius: 104px;
    background-color: #1e558e;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    cursor: pointer;

    .subscribe__icon {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 11px;
        height: 11px;
        transform: rotate(-90deg);
      }
    }
  }
}




.blog-double {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px; 

  &__card {
    grid-column: span 4;
    width: 100%;
    height: 561px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  }

  &__image {
    width: 100%;
    height: 240px;
    border-radius: 14px;
    object-fit: cover;
  }

  &__content {
    width: 100%;
    height: 123px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-top: 24px;
  }

  &__category {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 147%;
    color: #252834;
  }

  &__title {
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #252834;
  }

  &__description {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #252834;
  }

  &__author {
    margin-top: 107px;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 173px;
    height: 43px;
  }

  &__avatar {
    width: 42px;
    height: 42px;
    border-radius: 100px;
    border: 1px solid #d3dce0;
  }

  &__author-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__author-name {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 147%;
  }

  &__author-role {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 147%;
  }

  &__line {
    margin-top: auto;
    width: 100%;
    height: 1px;
    background-color: #d3dce0;
  }
}



.recommended-authors {
  margin-top: 86px;
  display: flex;
  flex-direction: column;
  gap: 35px;

  &__title {
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 138%;
    color: #252834;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
  }

  &__card {
    grid-column: span 2;
    background: linear-gradient(268.52deg, #E9EEF5 0.49%, #E9F8F9 99.07%);
    border-radius: 13px;
    padding: 20px 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 127px;
    gap: 34px;
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__avatar {
    width: 42px;
    height: 42px;
    border-radius: 100px;
    border: 1px solid #d3dce0;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 147%;
    color: #252834;
  }

  &__role {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 147%;
    color: #252834;
  }

  &__link {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-decoration: underline;
    color: #252834;
  }
}



.banner {
  width: 1320px;
  height: 80px;
  background: #1E558E;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
  overflow: hidden;
  margin-top: 120px;
  display: flex;
  align-items: center;

  &__content {
    display: flex;
    gap: 13.22px;
    position: relative;
    left: -124px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 13.22px;
    width: 366px;
    height: 34px;
  }

  &__item span {
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 147%;
    text-transform: uppercase;
    color: #fff;
  }

  &__arrow {
    width: 17px;
    height: 17px;
  }
}
