.subscribe {
  max-width: 1279px;
  width: 100%;
  margin: 67px auto 0 auto;
  height: 155px;
  border-radius: 18px;
  padding: 32px 22px;
  background: linear-gradient(268.52deg, #e9eef5 0.49%, #e9f8f9 99.07%);
  display: flex;
  flex-direction: column;
  gap: 23px;

  &__title {
    font-family: 'Unbounded', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    color: #252834;

    .highlight {
      color: #1e558e;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__input {
    width: 1039px;
    height: 54px;
    border-radius: 13px;
    border: 1px solid #d3dce0;
    background: #fff;
    padding: 0 16px;
    font-size: 16px;
    outline: none;

    &::placeholder {
      color: #888;
    }
  }

  &__btn {
    width: 180px;
    height: 54px;
    border-radius: 104px;
    background-color: #1e558e;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    cursor: pointer;

    .subscribe__icon {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 11px;
        height: 11px;
        transform: rotate(-90deg);
      }
    }
  }
}
