$back: green;
$border: #D3DCE0;
$general: #252834;
$description: #62646A;
$white-back: #fff;
$black: #000;
$line-footer: #222222;
$not-bright: #A7ACC2;
$blue: #1e558e;
$qr-back: #121518;
$footer-betton-back: #262B3A;
